* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    width: 900px;
    height: 800px;
    margin: 0px 150px;
    background-color: antiquewhite;
    display: flexbox;
}

.text-1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.link{
    float: right;
}
.foto {
    text-align: center;
}

.contacts {
    border: 2px solid black;
}
.text-2{
    font-weight: bolder;
    list-style-position: inside;
}
